<h1>Categories</h1>

<p>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
</p>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
