<footer class="blog-footer">
  <p>
    <%= t 'app.footer.template_info' %>
    <a href="https://getbootstrap.com/">Bootstrap</a>
    <%= t 'app.word.by' %>
    <a href="https://twitter.com/mdo">@mdo</a>.
  </p>
  <p>
    <a href="#"><%= t 'app.footer.back_to_top' %></a>
  </p>
</footer>
